.container {
    width: max-content;
}

/* .paer-app__container {
    width: 600px;
} */

.game-space__container {
    width: 800px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.number {
    user-select: none;
}

.card {
    box-sizing: border-box;
    min-width: 50px;
    height: 120px;
    margin: 0 10px 10px 0;
    flex: 0 1 calc(100%/4 - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid blue;
    border-radius: 25%;
    font-size: 30px;
}

.cc-2 {
    flex: 0 1 calc(100%/2 - 10px);
}

.cc-3 {
    flex: 0 1 calc(100%/3 - 10px);
}

.cc-4 {
    flex: 0 1 calc(100%/4 - 10px);
}

.cc-5 {
    flex: 0 1 calc(100%/5 - 10px);
}

.cc-6 {
    flex: 0 1 calc(100%/6 - 10px);
}

.cc-7 {
    flex: 0 1 calc(100%/7 - 10px);
}

.cc-8 {
    flex: 0 1 calc(100%/8 - 10px);
}

.cc-9 {
    flex: 0 1 calc(100%/9 - 10px);
}

.cc-10 {
    flex: 0 1 calc(100%/10 - 10px);
}